.bpc {
    height: 44px;
    padding: 6px;
    padding-top: 12px;
    background-color: #747F5A;
    
    p {
        font-family: 'font_condensed', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: .5px;
        color: #1a1c18;
        line-height: 15px;
        text-align: center;

      img {
        margin-left: 1100px;
            
        }
    }




}
