.logo-area {
    top: 80px;
    width: 325px;
    height: 60px;
    padding: 200px 0 0 20px;
    background-image: url(../images/icons/logo\ with\ ribbon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    

   
}

