.container {
    width: 100%;
    height: 100%;
    background-color: #e3dac9;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}