.dispatch-event {
    width: 174px;
    height: 180px;

    .date-time {
        text-transform: uppercase;
        color: #848581;
        font-weight: bolder;
        font-size: 10px;
        margin-bottom: 6px;
    }
    .dispatch-image {

        img {
            width: 100%;
        }
    }

    .title-bubble {
        display: flex;
        justify-content: space-between;
        margin-top: 3px;

        .title {
            h5 {
                font-size: 14px;
                margin-bottom: 4px;
                text-transform: uppercase;
                // WEBSITE STATES GOTHAM AS FONT

            }
        } 
        .bubble {
            width: 24px;
            height: 16px;
            font-size: 10px;
            background-color: #8888;
            position: relative;
            color: #fff;
            text-align: center;
            padding-top: 2px;

            .triangle {
                width: 0;
                height: 0;
                bottom: -7px;
                left: 5px;
                border-style: solid;
                border-width: 8px 8px 0 0;
                border-color: #8888 transparent transparent transparent;
                position: absolute;

            }
        }
    }
}